<section class="jumbotron text-center">
<h2>Bem vindo, {{ username }}!</h2>
<h5>Bons estudos {{ nickname }}!</h5>

</section>
<section class="my-25%">
  <div class="w-25 container d-flex align-content-center justify-content-center">

    {{!-- // ======== Subjects ====== --}}
    <div class="dropdown show">
      <a class="btn btn-primary dropdown-toggle pb-2 mb-2 mx-2 px-2" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Assuntos
      </a>

      <div class="dropdown-menu " aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item drop-item" href="/addeditsubjects">Adicionar</a>
        <a class="dropdown-item drop-item" href="/querysubjects">Visualizar</a>
      </div>
    </div>

    {{!-- // ======== Questions ====== --}}
    <div class="dropdown show">
      <a class="btn btn-primary dropdown-toggle pb-2 mb-2 mx-2 px-2" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Questões
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item drop-item" href="/queryquestion">Adicionar</a>
        <a class="dropdown-item drop-item" href="/queryquestion?show=true">Visualizar</a>
      </div>
    </div>

    {{!-- // ======== Test ====== --}}
    <div>
      <nobr><a class="btn btn-primary test" href="/taketest">Fazer um teste</a></nobr>
    </div>
    

  </div>

</section>
