<section class="jumbotron text-center">
<h2>Welcome, {{ username }}!</h2>
<h5>This is your profile page {{ nickname }}!</h5>
</section>
<div class="w-25 container d-flex flex-column align-content-center justify-content-center">
  <a href="/addnewquestion" class="pb-2 mb-2 btn btn-info" role="button">Write a brand new question</a>
  <a href="/listsubjects" class="pb-2 mb-2 btn btn-info" role="button">Show Subjects</a>
  <a href="/addnewsubjects" class="pb-2 mb-2 btn btn-info" role="button">Add Subjects</a>
</div>

