  
{{#if this}}
<h2>Welcome, {{ username }}!</h2>
<p>This is your profile page my friend!</p>


  <a href="/profile" class="btn btn-info" role="button">Reload the page</a>
  <a href="/logout" class="btn btn-info" role="button">Logout</a>
  <a href="/addnewquestion" class="btn btn-info" role="button">Write a brand new question</a>
  <a href="/listsubjects" class="btn btn-info" role="button">Show Subjects</a>
  <a href="/addsubjects" class="btn btn-info" role="button">Add Subjects</a>

{{else}}
<p>Still no logged in user, sorry!</p>
{{/if}}

<script>
function relocate_home()
{
     location.href = "www.yoursite.com";
} 
</script>