<section class="jumbotron text-center">
<h2>Welcome, {{ username }}!</h2>
<h5>This is your profile page {{ nickname }}!</h5>

</section>
<section>
  <div class="w-25 container d-flex align-content-center justify-content-center">

    {{!-- // ======== Subjects ====== --}}
    <div class="dropdown show">
      <a class="btn btn-outline-primary dropdown-toggle pb-2 mb-2 mx-2 px-2" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Subjects
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="/addeditsubjects">Add Subjects</a>
        <a class="dropdown-item" href="/querysubjects">Show Subjects</a>
      </div>
    </div>

    {{!-- // ======== Questions ====== --}}
    <div class="dropdown show ">
      <a class="btn btn-outline-primary dropdown-toggle pb-2 mb-2 mx-2 px-2" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Exercises
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="/queryquestion">Write a brand new question</a>
        <a class="dropdown-item" href="/queryquestion?show=true">View subject related questions</a>
      </div>
    </div>

    {{!-- // ======== Test ====== --}}
    <div>
      <a class="btn btn-primary" href="/taketest" >Take Test</a>
    </div>
    

  </div>

</section>
