<h1>{{title}}</h1>
<p>Please, enter the required data bellow in each field to create a new question in the questions database</p>

<form action="/addnewsubjects" method="POST">
  <label>Name of User</label>
  <input type="text" name="name">
  {{!-- Mensagem de erro para validacao do formulario --}}
  

  <button type="submit">Add Friend</button>
  
</form>