{{!-- Aqui há o formulário para se adicionar uma nova questão 
ao banco de dados. Ele receberá cada uma das ropriedades 
necessárias e enviará como metodo "post" para o indexRoutes --}}
<h1>{{title}}</h1>
<p>Please, enter the required data bellow in each field to create a new question in the questions database</p>

<form action="/addnewquestion" method="POST">
  <label>Subject</label>
  <input type="text" name="subject">
  {{!-- Mensagem de erro para validacao do formulario --}}
  {{#if subject}}
  {{> errorPartial subject}}
  {{/if}}
  <label>Class</label>
  <input type="text" name="classs">
  {{#if classs}}
  {{> errorPartial classs}}
  {{/if}}

  <label>Topic</label>
  <input type="text" name="topic">
  {{#if topic}}
  {{> errorPartial topic}}
  {{/if}}

  <label>Question</label>
  <input type="text" name="question" rows="4" cols="50">
  {{#if question}}
  {{> errorPartial question}}
  {{/if}}

  <label>Correct Answer</label>
  <input type="text" name="correctAnswer" rows="4" cols="50">
  {{#if correctAnswer}}
  {{> errorPartial correctAnswer}}
  {{/if}} 

 
  <label>Wrong Answer</label>
  <input type="text" name="wrongAnswer" rows="4" cols="50">
  {{#if  wrongAnswers}}
  {{> errorPartial  wrongAnswers}}
  {{/if}} 

  <label>Wrong Answer</label>
  <input type="text" name="wrongAnswer" rows="4" cols="50">
  {{#if  wrongAnswers}}
  {{> errorPartial  wrongAnswers}}
  {{/if}} 

  <label>Wrong Answer</label>
  <input type="text" name="wrongAnswer" rows="4" cols="50">
  {{#if  wrongAnswers}}
  {{> errorPartial  wrongAnswers}}
  {{/if}} 

  
  <button type="submit">Salvar</button>
  {{#if errorMessage}}
  {{> errorPartial errorMessage}}
  {{/if}}
</form>