{{!-- Aqui há o formulário para se adicionar uma nova questão 
ao banco de dados. Ele receberá cada uma das ropriedades 
necessárias e enviará como metodo "post" para o indexRoutes --}}
<h1>{{title}}</h1>
<p>Please, enter the required data bellow in each field to create a new question in the questions database</p>

<form action="/addnewquestion" method="POST">
  <label>Subject</label>
  <input type="text" name="Subject">
  {{!-- Mensagem de erro para validacao do formulario --}}
  {{#if subject}}
  {{> errorPartial subject}}
  {{/if}}
  <label>Class</label>
  <input type="text" name="Class">
  {{#if class}}
  {{> errorPartial class}}
  {{/if}}

  <label>Question</label>
  <input type="text" name="Question" rows="4" cols="50">
  {{#if question}}
  {{> errorPartial question}}
  {{/if}}

  <label>correctAnswer</label>
  <input type="text" name="Correct Answer" rows="4" cols="50">
  {{#if correctAnswer}}
  {{> errorPartial correctAnswer}}
  {{/if}} 

 
  <label> wrongAnswers</label>
  <input type="text" name=" Wrong Answers" rows="4" cols="50">
  {{#if  wrongAnswers}}
  {{> errorPartial  wrongAnswers}}
  {{/if}} 

  <label> wrongAnswers</label>
  <input type="text" name=" Wrong Answers" rows="4" cols="50">
  {{#if  wrongAnswers}}
  {{> errorPartial  wrongAnswers}}
  {{/if}} 

  <label> wrongAnswers</label>
  <input type="text" name=" Wrong Answers" rows="4" cols="50">
  {{#if  wrongAnswers}}
  {{> errorPartial  wrongAnswers}}
  {{/if}} 

  <label> wrongAnswers</label>
  <input type="text" name=" Wrong Answers" rows="4" cols="50">
  {{#if  wrongAnswers}}
  {{> errorPartial  wrongAnswers}}
  {{/if}} 

  <button type="submit">Salvar</button>
  {{#if errorMessage}}
  {{> errorPartial errorMessage}}
  {{/if}}
</form>