<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>DEVELOPERS</h1>
    <hr>
    <section>
        <h2>Arthur Ferneze</h2>
        <img src="" alt="">
        <a href="">LinkedIn</a>
        <img src="" alt="">
        <a href="">Instagram</a>
        <img src="" alt="">
        <a href="">facebook</a>
    </section>

    <section>
        <h2>Yordan Christoff</h2>
        <img src="" alt="">
        <a href="">LinkedIn</a>
        <img src="" alt="">
        <a href="">Instagram</a>
        <img src="" alt="">
        <a href="">facebook</a>
    </section>
</body>
</html>



