
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <title>Document</title>
</head>
<body>
    <div class="card" style="width: 40vw;">
        <div class="card-body">
            {{!-- <h5 class="card-title">{{title}}</h5> --}}
            <h6 class="card-subtitle mb-2 text-muted">Olá! Seja bem vindo ao Quester! </h6>
            <p class="card-text"> Aqui o nosso objetivo é ajudar os estudantes a treinarem para suas 
                provas através de questões e troca de experiencias entre os próprios 
                usuários. Você poderá utilizar do Quester para gerar simulados de 
                questões, enviar mensagens para amigos e tirar duvidas sobre os 
                exercícios que fez. Além disso é possível montar um simulado com as 
                matérias e tópicos desejados para treinar pontos específicos de acordo 
                com seu interesse.</p>
            <p>Cadastre-se aqui e descubra tudo que o Quester pode te oferecer:</p>
            <a href="/signup" class="card-link btn btn-outline-primary">Cadestre-se Aqui</a>
            
            
        </div>
    </div>
</body>
</html>

