<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    {{!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> --}}
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://kit.fontawesome.com/e51ecd7475.js" crossorigin="anonymous"></script>
  </head>

  <body>
      <nav>
      <ul>
        <li id="to-left">
          {{#if username}}
            <p><a href="/profile"> Profile </a></p>
          {{else}}
            <p><a href="/"> Home </a></p>
          {{/if}}
        </li>
        <li id="to-right">
    {{#if username}}
      <a href="/logout">Logout</a> <span> </span>
    {{else}}
      <a href="/signup">Signup</a> <span>   |   </span>
      <a href="/login">Login</a>
    {{/if}}

  </li>
      </ul>
    </nav>


    {{{body}}}

<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center footerDiv1">
      <h5>Developed by:</h5>
      <section class="devs">
        
        <div class="devs">
           <div>
               <a href="/developers">Arthur Ferneze</a>

            <div >
              <a
                href="https://www.instagram.com/artfarneze/"
                target="_blank"
                aria-label="Instagram"
                ><i class="fa fa-instagram" aria-hidden="true"></i
              ></a>
              <a
                href="https://twitter.com/ArthurFarneze"
                target="_blank"
                aria-label="Twitter"
                ><i class="fa fa-twitter" aria-hidden="true"></i
              ></a>
              <a
                href="https://www.facebook.com/arthur.farneze"
                target="_blank"
                aria-label="Facebook"
                ><i class="fa fa-facebook" aria-hidden="true"></i
              ></a>
              <a
                href="https://www.youtube.com/user/arthurfarneze"
                target="_blank"
                aria-label="Youtube"
                ><i class="fa fa-youtube" aria-hidden="true"></i
              ></a>
              <a href="https://github.com/farneze" target="_blank" aria-label="Github"
                ><i class="fa fa-github" aria-hidden="true"></i
              ></a>
            </div>
           </div>

            <h5>and</h5>
            

          <div class="devs">
            <a href="/developers">Yordan Christoff</a>

            <div >
              
                <a
                href="https://www.instagram.com/yordc"
                target="_blank"
                aria-label="Instagram"
                ><i class="fa fa-instagram" aria-hidden="true"></i
              ></a>
              <a
                href="https://twitter.com/Nadroy4"
                target="_blank"
                aria-label="Twitter"
                ><i class="fa fa-twitter" aria-hidden="true"></i
              ></a>
              <a
                href="https://www.facebook.com/yordancurt"
                target="_blank"
                aria-label="Facebook"
                ><i class="fa fa-facebook" aria-hidden="true"></i
              ></a>
              
              <a href="https://github.com/yordancurty" target="_blank" aria-label="Github"
                ><i class="fa fa-github" aria-hidden="true"></i
              ></a>
              
            </div>

          </div>
        </div>

      </section>
      
      <a href="/about">about the site</a>
    </div>
  </footer>

    {{!-- <footer >
      <section class="devs">
        <h5>Developed by:</h5>
      <a href="/developers">Arthur Ferneze</a>
      <h5>and</h5>
      <a href="/developers">Yordan Christoff</a>
      </section>
      <a href="/about">about the site</a>
    </footer> --}}

    <script src="/javascripts/script.js"></script>
  </body>

</html>