body {
  padding: 50px 0 0;
  background-color: #eee;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-bottom: 30px;
}

.bobody {
  margin-bottom: 50px;
}

.radio {
  width: auto !important;
}

.test {
  margin-left: 6px !important;
  padding: 7px 8px 7px !important;
}
.drop-item {
  font-size: 18px;
}

.answer {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.question {
  margin: 20px auto 20px !important;
  padding: 25px 20px !important;
  background-color: white;
  /* border: 1px solid #00b7ff; */
  border: 1px solid #1c6ea4;
  border-radius: 19px;
  -webkit-box-shadow: 5px 5px 10px -2px rgba(0, 86, 179, 0.45);
  box-shadow: 5px 5px 10px -2px rgba(0, 86, 179, 0.45);
  /* -webkit-box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.45);
  box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.45); */
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.myCard {
  margin: 20px 20px !important;
  padding: 25px 20px !important;
  background-color: white;
  /* border: 1px solid #00b7ff; */
  border: 1px solid #1c6ea4;
  border-radius: 19px;
  -webkit-box-shadow: 5px 5px 10px -2px rgba(0, 86, 179, 0.45);
  box-shadow: 5px 5px 10px -2px rgba(0, 86, 179, 0.45);
  /* -webkit-box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.45);
  box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.45); */
}

.ques {
  text-align: justify !important;
}
.radioques {
  padding-right: 35px !important;
}
.socorroJesus {
  min-height: 700vh;
}
.center-button {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.form-check {
  margin: 1px 0;
  padding-left: 50px !important;
}
.form-check-label {
  width: auto !important;
}

.invisible {
  margin: 0 !important;
  border: 0 !important;
  padding: 0 !important;
  width: 0% !important;
  height: 0% !important;
}

a {
  color: #43a3e6;
  text-decoration: none !important;
  font-size: 1.5em;
}

form {
  margin: 30px auto;
  width: 70%;
}

form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

form input,
form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}

form button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%;
}

form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: 0.3s ease background;
}

.error {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

.success {
  background: #2b76f0;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

ul {
  border-bottom: 2px solid #43a3e6;
  height: 30px;
  padding: 1em 0;
  list-style-type: none;
}

ul li {
  line-height: 0px;
}

#to-right {
  float: right;
  padding-right: 20px;
}

#to-right span {
  color: #43a3e6;
  font-size: 1.5em;
}

#form h2 {
  display: flex;
  justify-content: center;
}

#to-left {
  float: left;
  display: flex;
}

#to-left p a {
  color: #000;
  font-weight: bold;
  font-size: 2em;
  padding: 0 10px;
}

.form-signin {
  width: 100%;
  max-width: 330px !important;
  padding: 15px;
  margin: 0 auto 10px !important;
  margin-bottom: -15px !important;
  border-bottom-right-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.form-signin input {
  margin-bottom: 0 !important;
}

#page-container {
  display: flex !important;
  flex-direction: column !important;
  position: relative !important;
  min-height: 100vh !important;
}

#content-wrap {
  padding-bottom: 6.5rem; /* Footer height */
}

footer {
  position: absolute !important;
  bottom: 0 !important;
  margin-bottom: -100px !important;
  font-size: 9px !important;
  width: 100%;
  height: 120px !important;
}

.developersBlock {
  display: flex;
  flex-direction: row;
}

.footerDiv1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.person {
  margin-right: 10px;
  margin-left: 10px;
}

.socialMedias {
  padding-top: 5px;
}
.test {
  display: flex;
  flex-direction: column;
  align-items: center !important;
}
