body {
  padding: 50px 0 0;
  background-color: #f5f5f5;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-bottom: 0 !important;

}

.invisible {
  margin: 0 !important;
  border: 0 !important;
  padding: 0 !important;
  width: 0% !important;
  height: 0% !important;
}

a {
  color: #00b7ff;
  text-decoration: none !important;
  font-size: 1.5em;
}

form {
  margin: 30px auto;
  width: 380px;
}

form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

form input,
form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}

form button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%;
}

form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: 0.3s ease background;
}

.error {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

.success {
  background: #2b76f0;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

ul {
  border-bottom: 2px solid #43a3e6;
  height: 30px;
  padding: 1em 0;
  list-style-type: none;
}

ul li {
  line-height: 0px;
}

#to-right {
  /* padding: 1em; */
  float: right;
  padding-right: 20px;
}

#to-right span {
  color: #43a3e6;
  font-size: 1.5em;
  
}

#form h2 {
  display: flex;
  justify-content: center;
}

#to-left {
  float: left;
  display: flex;
  
}

#to-left p a {
  color: #000;
  font-weight: bold;
  font-size: 2em;
  padding: 0 10px;
}

.form-signin {
  width: 100%;
  max-width: 330px !important;
  padding: 15px;
  margin: 0 auto 10px !important;
  margin-bottom: -15px !important;
  border-bottom-right-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.form-signin input {
  margin-bottom: 0 !important;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}


footer {
  background-color: #343A40;
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;

  font-size: 9px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* height: 2.5rem;  */
  background-color: #343A40;
}

/* .mainContent{
  display: flex;
  justify-content: center;
} */

.developersBlock {
  display: flex;
  flex-direction: column;
}

.devs {
  display: flex;
  /* flex-direction: column; */
}

.footerDiv1 {
  display: flex;
  flex-direction: column;
  /* padding-left: 200px; */
  align-items: center;
}

.person{
  margin-right: 10px;
  margin-left: 10px;
}

.socialMedias{
  padding-top: 5px;
}