<h1>{{title}}</h1>
<p>Please, enter the receiver and message</p>
      
        <select id="inputTopic" class="form-control" name="topic" onchange="this.form.submit()">
            {{#each topic}}
                <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>